* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: var(--poppins-font);
}
/* key frame */
@keyframes float-image {
  0% {
    transform: rotate(-25deg);
  }
  25% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-75deg);
  }
  100% {
    transform: rotate(100deg);
  }
}
:root {
  --dark-gray: #3a3a3a;
  --poppins-font: "Poppins", sans-serif;
  --inter-font: "Inter", sans-serif;
  /* Primary text colors */
  --text-heading: #0a0826;
  --text-strong: #18191f;
  --text-body: #3a3a3a;
  --text-muted: #787885;
  --text-subtle: #6c6c6c;
  --text-black: rgba(0, 0, 0, 0.87);

  --border-light: #d9dbe1;
  --border-soft: rgba(192, 204, 218, 1);

  /* font size  */
  --text-xs: 0.87rem;
  --text-base: 1rem;
  --text-md: 1.5rem;
  --text-lg: 1.75rem;
  --text-xl: 2rem;
  --text-2xl: 2.37rem;
  --text-3xl: 3.25rem;
}
/* shared style  */
.btn {
  background-color: #e02c6d;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 24px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid #e02c6d;
  color: #e02c6d;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 100px auto 0;
}

/* nav related style */
nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  padding-top: 95px;
}
.nav-menu {
  display: flex;
  list-style: none;
  gap: 34px;
}
.nav-menu li {
    transition: 0.3s ease-in-out;
}
.nav-menu li:hover {
    transform: scale(1.6);
}
.nav-link {
  text-decoration: none;
  color: var(--text-body);
  font-size: 1rem;
  font-weight: 600;
}
.nav-link:hover {
    color: #e02c6d;
}
.nav-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-body);
  transition: 0.3s ease-in;
}
.nav-title:hover {
    color: #e02c6d;
}

/* hero section style start  */
.hero-section {
  max-width: 1200px;
  margin: 41.8px auto 0;
  text-align: left;
  display: flex;
  gap: 133px;
  align-items: center;
}
.hero-content {
  max-width: 582px;
}
.hero-title {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
}
.hero-description {
  font-size: 1rem;
  line-height: 30px;
  font-weight: 600;
  margin: 16px 0;
}
.hero-image {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero-image img {
  width: 100%;
  position: relative;
  animation: float-image 6s ease-in-out infinite alternate;
}

/* our partners section related styles */
.our-partners {
  border-top: 1px solid var(--border-light);
  border-bottom: 1px solid var(--border-light);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 60px;
  padding: 36px 62px;
  align-items: center;
}
.our-partners img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.our-partners img:hover {
    transform: scale(1.5);
}
/* popular collection related style */
.popular-collection {
  text-align: center;
}
.popular-heading {
  font-size: var(--text-2xl);
  color: var(--dark-gray);
  margin-bottom: 28px;
}
.popular-card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.popular-card {
  width: 100%;
  /* max-width: 329px; */
  text-align: left;
  background-color: white;
  padding: 17px 14px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.popular-card img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.popular-card img:hover {
    transform: scale(1.5);
}
.card-heading {
  line-height: 40px;
  font-weight: 500;
  font-size: var(--text-lg);
  margin-bottom: 6px;
}
.card-prize {
  margin-bottom: 14px;
  font-weight: 400;
  font-family: var(--inter-font);
  font-size: var(--text-md);
}
.star {
  font-size: var(--text-xs);
  color: rgba(251, 130, 0, 1);
  margin-bottom: 10px;
}
.product-description {
  font-size: var(--text-xs);
  line-height: 143%;
  letter-spacing: 1.8%;
  color: var(--text-muted);
  font-family: var(--inter-font);
}
/* next page btn related style  */
.next-page {
  display: flex;
  justify-content: right;
  margin-top: 50px;
}
#next {
  cursor: pointer;
  color: #e02c6d;
}
/* featured-secton style  */
.featured-secton {
  display: flex;
  align-items: center;
  gap: 96px;
}
.featured-heading {
    font-size: var(--text-2xl);
    color: var(--text-heading);
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 16px;
}
.featured-description {
    font-size: var(--text-base);
    line-height: 28px;
    font-weight: 700;
    color: var(--text-subtle);
    margin-bottom: 16px;
}
footer {
    text-align: center;
    margin-top: 100px;
    background-color: #0a0826;
    padding: 50px;
}
.footer-heading {
    color: white;
    font-size: var(--text-md);
    font-weight: 700;
}
.copyright {
    color: #D9DBE1;
    font-weight: 500;
    margin-bottom: 44px;
}
.social {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: white;
}

/* responseve for small device */
@media screen and (max-width: 576px) {
  nav {
    padding: 20px;
    flex-direction: column;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .our-partners {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    text-align: center;
    border: none;
    padding: 36px;
  }
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }
  .popular-card-box {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
  .popular-card {
    width: 95%;
    text-align: center;
  }
  .next-page {
    justify-content: center;
  }
  .featured-secton {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
}

/* responsive for medium device  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    padding: 20px;
    flex-direction: column;
  }
  .nav-menu {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 40px;
  }
  .our-partners {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    text-align: center;
    border: none;
    padding: 36px;
  }
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }
  .popular-card-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular-card {
    width: 100%;
    text-align: center;
  }
  .next-page {
    justify-content: center;
  }
  .featured-secton {
    padding: 20px;
  }
}
